<div class="row">
    <h1 style="opacity: 1" class="mb-2"><b>Portfolio Preview</b></h1>
    <hr>
    <div class="col card card-link">
      <div class="row p-4">
        <div class="col-md-6">
            <h4 class="my-2"><b>Event Planner</b></h4>
            <div class="my-2">ASP.NET Zero - Angular</div>
            <div class="my-2">
              Event planning software designed for resale, featuring robust event creation and assignment capabilities. The application supports multi-tenancy, ticket purchasing, and automated email notifications to streamline event management.
            </div>
        </div>
        <div class="col-md-6">
            <div class="flip-card ms-2">
                <div class="flip-card-inner">
                  <img src="./images/eventList.png" class="front img-fluid" />
                  <img src="./images/eventDetails2.png" class="back img-fluid" />
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col card card-link">
    <div class="row ps-4 pt-3">            
        <h4 class="my-2"><b>Event Planner</b></h4>
    </div>
    <div class="row px-4 pb-4">
    <div class="col-md-6">
        <div class="flip-card">
            <div class="flip-card-inner">
                <img src="./images/eventList.png" class="front img-fluid" />
                <img src="./images/eventDetails2.png" class="back img-fluid" />
            </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="my-2">ASP.NET Zero - Angular</div>
        <div class="my-2">
            Event planning software designed for resale, featuring robust event creation and assignment capabilities. The application supports multi-tenancy, ticket purchasing, and automated email notifications to streamline event management.
        </div>
    </div>
    </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-6 card card-link">
    <div class="row ps-4 pt-3">            
        <h4 class="my-2"><b>Event Planner</b></h4>
    </div>
    <div class="row px-4 pb-4">
    <div class="col-md-12">
        <div class="flip-card">
            <div class="flip-card-inner">
                <img src="./images/eventList.png" class="front img-fluid" />
                <img src="./images/eventDetails2.png" class="back img-fluid" />
            </div>
            </div>
    </div>
    <div class="col-md-12">
        <div class="my-2">ASP.NET Zero - Angular</div>
        <div class="my-2">
            Event planning software designed for resale, featuring robust event creation and assignment capabilities. The application supports multi-tenancy, ticket purchasing, and automated email notifications to streamline event management.
        </div>
    </div>
    </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6"></div>
    <div class="col-md-6 card card-link">
        <div class="row ps-4 pt-3">            
            <h4 class="my-2"><b>Event Planner</b></h4>
        </div>
        <div class="row px-4 pb-4">
            <div class="col-md-12">
                <div class="my-2">ASP.NET Zero - Angular</div>
                <div class="my-2">
                    Event planning software designed for resale, featuring robust event creation and assignment capabilities. The application supports multi-tenancy, ticket purchasing, and automated email notifications to streamline event management.
                </div>
            </div>
        <div class="col-md-12">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <img src="./images/eventList.png" class="front img-fluid" />
                    <img src="./images/eventDetails2.png" class="back img-fluid" />
                </div>
            </div>
        </div>
        </div>
        </div>
  </div>