<div class="row">
    <h1 style="opacity: 1" class="mb-2"><b>Portfolio Preview</b></h1>
    <hr>
    <div class="col card card-link">
        <div class="row ps-4 pt-3">            
            <h4 class="my-2"><b>Event Planner</b></h4>
        </div>
      <div class="row px-4 pb-4">
        <div class="col-md-6">
            <div class="my-2">ASP.NET Zero - Angular</div>
            <div class="my-2">
              Event planning software designed for resale, featuring robust event creation and assignment capabilities. The application supports multi-tenancy, ticket purchasing, and automated email notifications to streamline event management.
            </div>
        </div>
        <div class="col-md-6">
            <div class="flip-card ms-2">
                <div class="flip-card-inner">
                  <img src="./images/eventList.png" class="front img-fluid" />
                  <img src="./images/eventDetails2.png" class="back img-fluid" />
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col card card-link">
    <div class="row ps-4 pt-3">            
        <h4 class="my-2"><b>SSL Certificate Auto Renewal</b></h4>
    </div>
    <div class="row px-4 pb-4">
    <div class="col-md-6">
        <div class="my-2">ASP.NET C# - WPF, Entity Framework, Win-Acme</div>
        <div class="my-2">
          A desktop tool that automates SSL certificate creation and renewal using Win-Acme, with full integration for Azure-hosted applications. 
          The app provides a WPF-based GUI for managing certificate bindings and configurations, making it easy to monitor and control the lifecycle of certificates. 
          Certificate metadata is stored and accessed via Entity Framework, and the system automatically updates and rebinds certificates upon expiration. 
          This project streamlines secure deployment workflows for web applications hosted on Azure.
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <div class="flip-card-inner">
                <img src="./images/sslautorenew.png" class="front img-fluid" />
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-6 card card-link">
    <div class="row ps-4 pt-3">            
        <h4 class="my-2"><b>Astro Projectory - Game</b></h4>
    </div>
    <div class="row px-4 pb-4">
    <div class="col-md-12">
        <div>
            <div class="flip-card-inner">
                <img src="./images/alientprojectory.png" class="front img-fluid"/>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="my-2">Python – PyGameZero</div>
        <div class="my-2">
          A mobile game prototype that explores gravity simulation using PyGameZero. 
          I applied my knowledge in physics and programming to build engaging mechanics, and created all visuals and music from scratch.
        </div>
        <div class="my-2">
            <a href="https://github.com/Griffonknox/Alien_Projectory" target="_blank" class="btn btn-outline-light btn-sm">
              <i class="bi bi-github"></i> View on GitHub
            </a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="./images/aliennew.png" class="img-fluid mt-3" alt="Centered Image"  style="transform: scaleX(-1);" />
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6"></div>
    <div class="col-md-6 card card-link">
        <div class="row ps-4 pt-3">            
            <h4 class="my-2"><b>QSIC</b></h4>
            <span>Quantum Spectra Intensity Calculator</span>
        </div>
        <div class="row px-4 pb-4">
            <div class="col-md-12">
                <div class="my-2">Python – Speutils, Matplotlib, Pandas</div>
                <div class="my-2">
                  A scientific tool built to assist in supernova research by calculating the spectral intensity of multiple time-stamped observations. 
                  The data is visualized using advanced graphing techniques, with interactive features such as zooming, exporting, and dynamic scaling. 
                  Designed to enhance clarity and usability in spectral data analysis.
                </div>
            </div>
        <div class="col-md-12">
            <div>
                <div class="flip-card-inner">
                    <img src="./images/qsic.png" class="front img-fluid" />
                </div>
                <div class="mt-3">
                    <a href="https://github.com/Griffonknox/QSIC" target="_blank" class="btn btn-outline-light btn-sm">
                      <i class="bi bi-github"></i> View on GitHub
                    </a>
                </div>
            </div>
        </div>
        </div>
        </div>
  </div>