<ng-particles
  [id]="'tsparticles'"
  [options]="particlesOptions"
  style="position: fixed; width: 100%; height: 100%; z-index: -1"
  [particlesInit]="particlesInit.bind(this)"
></ng-particles>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/" routerLinkActive="active"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/portfolio" routerLinkActive="active"><b>Portfolio</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/resume" routerLinkActive="active"><b>Resume</b></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/skateboarding" routerLinkActive="active">Skateboarding</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
