<div class="row">
    <h1 style="opacity: 1" class="mb-2 text-white"><b>Outside The Code</b></h1>
    <hr class="border-white my-3">
    <div class="col card card-link">
      <div class="row p-3">
        <div class="col-md-6">
          <h4 class="my-2 text-white"><b>Skateboarding</b></h4>
          <p class="text-white">
            I’ve been skateboarding since I was about 8 years old, on and off throughout my life. Recently it’s become one of the most important ways I take care of my mental and physical health. Skateboarding challenges me to set goals, experiment, and stay persistent through trial and error — the same mindset I bring to my work as a developer.
          </p>
          <p class="text-white">Skating has always been more than just a hobby for me — it’s a way of thinking. Learning tricks requires breaking things down step by step, adapting when something doesn’t work, and celebrating small progress. It’s a constant reminder that growth comes from persistence and creativity.</p>
                <div class="video-container my-4">
                <iframe
                  width="100%"
                  height="400"
                  src="https://www.youtube.com/embed/8MzDTLL2Dag"
                  title="YouTube video"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
        </div>

        <div class="col-md-6">
          <img
            src="./images/TreFlip.jpg"
            alt=""
            class="img-fluid mb-4"
          />
        </div>
      </div>
    </div>

    <hr class="border-white my-5">

    <div class="col-md-6 pe-3">
      <div class="row card card-link p-3">
        <div class="col">
          <h4 class="my-2 text-white"><b>Music - Doxxing God</b></h4>
          <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=648413152/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=4264925762/transparent=true/" seamless><a href="https://tigerpunch.bandcamp.com/album/doxxing-god">Doxxing God by Tiger Punch</a></iframe>
        </div>
      </div>
    </div>

    <div class="col-md-6 ps-3">
      <div class="row card card-link p-3">
        <div class="col">
          <h4 class="my-2 text-white"><b>Artwork</b></h4>
          <img
            src="./images/weepmywillow.jpg"
            alt=""
            class="img-fluid mb-4"
          />
          <p>Weep My Willow: Oil Pastels on black paper</p>
        </div>
      </div>
    </div>

  </div>
  