<!-- Profile Image Row -->
<div class="row">
  <div class="col text-center mb-3">
    <img
      src="./images/headshot.JPG"
      alt="Profile photo"
      class="img-fluid rounded-circle mb-4 prof-image"
    />
    <div class="p-3 card card-introduction">
      <h2 style="opacity: 1"><b>Hi, I'm Griffonknox!</b></h2>
      <p>
        I'm a software developer with a knack for turning ideas into working code — and having fun while doing it. Outside of coding, I’m probably skating, tinkering with tech, or chasing the next side project. I like building things that work well and feel good to use. Let’s make something awesome.
      </p>
      
    </div>
  </div>
</div>

<!-- Thumbnail Section -->
<div class="row text-center mt-3">
  <div class="col-md-6 mb-3">
    <div class="card card-link text-center" (click)="goTo('portfolio')">
      <div class="card-body">
        <h4 class="card-title">
          <i class="bi bi-file-earmark-text"></i>View My Portfolio
        </h4>
        <p class="card-text">Check out previews of my work.</p>
        <button class="btn btn-outline-light mt-2">Go</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card card-link text-center" (click)="goTo('resume')">
      <div class="card-body">
        <h4 class="card-title">
          <i class="bi bi-file-earmark-text"></i>View My Resume
        </h4>
        <p class="card-text">Check out my experience and skills.</p>
        <button class="btn btn-outline-light mt-2">Go</button>
      </div>
    </div>
  </div>
</div>
